  <!-- Please add after the "system.web" section> -->
  <appSettings>
    <add key="GSALocation" value="http://epuk006.lon.corp.google.com" />
    <add key="accessLevel" value="p" />
    <add key="sortType" value="date%3AD%3AL%3Ad1" />
    <add key="siteCollection" value="default_collection" />
    <add key="frontEnd" value="SPS_frontend" />
    <add key="forceRefreshFrontEnd" value="true" />
    <add key="enableLogging" value="true" />
  </appSettings>
  