<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpHandlers>
			<!--add verb="GET" path="path" type="com.google.gsa.OneBoxHandler" /-->
		</httpHandlers>
    <!--identity impersonate="true"/-->
    <identity impersonate="true" userName="ent-sales-d1\sales-admin" password ="t3stth@t"/>
    <compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.SharePoint.Portal, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Office.Server.Search, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.SharePoint.Portal.SingleSignon.Security, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Office.Server, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<authorization>
			<allow users="*" verbs="GET,POST,SOAP"/>
		</authorization>
	</system.web>

  <appSettings>
    <!-- this can be left empty. If you've developed your own AA provider, put it here-->
    <add key="log_level" value="debug"/>
    <!-- debug, info, error, with debug being the most detailed level -->
    <!-- gsa uses Https for artifactConsumer -->
    <add key="ssp" value="SharedService1"/>
  </appSettings>


</configuration>
